<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <title>Question List</title>
</head>
<body>
    <div style="margin: auto; padding-top:100px; width: 600px">
        <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">question</th>
                        <th scope="col">pub_date</th>
                        <th scope="col">vote</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for que in questions  %}
                      <tr>
                        <th scope="row">{{que.id}}</th>
                        <td>{{que.question_text}}</td>
                        <td>{{que.pub_date}}</td>
                        <td><a href="/vote/{{que.id}}">vote</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
    </div>
</body>
</html>